<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="loginBox">
        <h2>Login to SeLab</h2>
        <form action="/" method="POST">
            <p>ID</p>
          
            <input type="text" name="id" placeholder="Enter ID">
            <p>Password</p>
            <input type="password" name="pw" placeholder="Password">
            <input type="submit"  value="Sign In">
            <a href="sign_up.html">Don't you have an ID? click here</a>
        </form>
    </div>
</body>
</html>