<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/research.css">
</head>
<body>
  <div class="wrap">
  <div class="header">
    <div class="logo">
      <a href="index.html"><img src="../img/selab_logo_S.png"></a>
    </div>
    <div class="nav">
      <ul class="nav">
        <li><a href="notice.html">NOTICE</a></li>
        <li><a href="members.html">MEMBERS</a></li>
        <li class="research"><a href="research.html"><strong>RESEARCH</strong></a></li>
        <li><a href="publication.html">PUBLICATION</a></li>
        <li><a href="course.html">COURSE</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="title">
      <div class="line"></div>
      <div class="re">
        <span style="background: #ffffff;">RESEARCH</span>
      </div>
    </div>
  <div class="item">
    <div class="item_inner">
      <h3>Web & Web security</h3>
      <img id="r-img" src="../img/re1.png" width="150px">
      <ul>
        <li>Semantic web</li>
        <li>Effective Access Control for Web Data</li>
        <li>Vulnerability Analysis and Detection for HTML5</li>
        <li>JavaScript and Hybrid Application</li>
      </ul>
    </div>
    <div class="item_inner">
      <h3>Formal Engineering Methods</h3>
      <img id="r-img" src="../img/re2.png" width="150px">
      <ul>
        <li>Formal Specification, Validation, and Verification</li>
        <li>Model checking, Theorem Proving</li>
        <li>Ontology Reasoning, Constraint Solving</li>
      </ul>
    </div>
    <div class="item_inner">
      <h3>Requirement Engineering</h3>
      <img id="r-img" src="../img/re3.png" width="150px">
      <ul>
        <li>Requirement Analysis, Validation and Conflict Detection</li>
        <li>Non-Functional Requirements Analysis and Prediction</li>
        <li>Product Line and Software Product Line</li>
        <li>Requirement Modeling with Extended Mind Map</li>
      </ul>
    </div>
    <div class="item_inner">
      <h3>Real-Time Software Engineering</h3>
      <img id="r-img" src="../img/re4.png" width="150px">
      <ul>
        <li>Real-Time Software and Process Modeling</li>
        <li>Real-Time Software Specification and Verification</li>
        <li>Real-Time Software Integration and Migration Control</li>
      </ul>
    </div>
    <div class="item_inner">
      <h3>Semi-structured Data</h3>
      <img id="r-img" src="../img/re5.png" width="150px">
      <ul>
        <li>XML and XML DB, Visualization of XML-Schema</li>
        <li>Ontology and RDF Store</li>
        <li>Semistructured Data Integration and Migration</li>
        <li>Optimization of X-Query</li>
        <li>Consistency Verification for Semistructured Data Manipulation</li>
        <li>Domain Specific Extension to XML & Data Translation from RDBMS to XML DBMS</li>
      </ul>
    </div>
  </div>
  </div>
  </div>
</div>
</body>
</html>