<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="loginBox">
        <h2>Sign up to Selab</h2>
        <form action="/sign_up" method="POST">
            <p>name</p>
            <input type="text" name="name" placeholder="Name">
            <p>ID</p>
            <input type="text" name="id" placeholder="ID">
            <p>Password</p>
            <input type="password" name="pw" placeholder="Password?">
            <p>confirm_password</p>
            <input type="password" name="con_pw" placeholder="typing the Password?">
            <input type="submit"  value="Sign Up">
        </form>
    </div>
</body>
</html>